{% extends 'back/base.html' %}

{% load static %}

{% block content %}

    <!-- Datatables Header -->
    <div class="content-header">
        <div class="header-section">
            <h1>
                <i class="fa fa-table"></i>Liste des groupes<br><small>Vous pouvez ajouter, modifier et supprimer vos données !</small>
            </h1>
        </div>
    </div>
    <ul class="breadcrumb breadcrumb-top">
        <li>Articles</li>
        <li><a href="/panel/manager/group">Groupes</a></li>
    </ul>
    <!-- END Datatables Header -->

    <!-- Datatables Content -->
    <div class="block full">
        <div class="block-title">
            <h2><strong>Liste des groupes :</strong></h2>
        </div>

        <div class="table-responsive">
            <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                <thead>
                {% if news|length <= 1 %}
                    <tr>
                        <th class="text-center">Nom</th>
                        <th class="text-center">Actions</th>
                    </tr>
                {% else %}
                  <tr>
                        <th>Noms</th>
                        <th class="text-center">Actions</th>
                    </tr>
                {% endif %}
                </thead>
                <tbody>
                {% for gr in group %}
                    <tr>

                        <td class="text-center">{{ gr.name }}</td>

                        <td class="text-center">
                            <div class="btn-group">
                                <a href="#" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"> Editer</i></a>
                                <a href="#" data-confirm="Etes-vous certain de vouloir supprimer l'article {{ new.pk }} ?" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"> Supprimer</i></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- END Datatables Content -->

{% endblock %}




{% block javascript %}

    <!-- Load and execute javascript code used only in this page -->
    <script src="{% static 'back/js/pages/tablesDatatables.js' %}"></script>
    <script>$(function(){ TablesDatatables.init(); });</script>

{% endblock %}
